<style>
  .container { width: 800px; font-family: Arial, Helvetica, sans-serif;
  align-items: center; display: flex; flex-direction: column; } span { margin:
  10px; }
</style>

<div class='container'>
  <span>Oi, {{name}}</span>

  <br />

  <span>O usuário {{user}} enviou uma proposta para você analisar</span>

  <span>Objetivo da proposta: {{objective}}</span>

  <span>Descrição</span>

  <p>{{description}}</p>

  <span>Para visualizar toda a proposta, clique neste link:</span>

  <a href={{link}}>{{link}}</a>

  <strong>Obrigado!</strong>
  <h3>Start Business</h3>
</div>