<style>
  .container { 
      width: 800px; 
      font-family: Arial, Helvetica, sans-serif;
      display: flex; 
      flex-direction: column; 
    }

    body {
      display: flex;
      flex-direction: column;
      font-family: Arial, Helvetica, sans-serif;
    }

    span {
      display: flex;
      flex-direction: column;
      margin-top: 12px;
    }

    footer {
      margin-top: 16px;
    }
</style>

<div class="container">
  <h1 class="title">Oi, {{name}}</h1>

  <body class="content">
    <span>O usuário {{user}} enviou uma proposta para você analisar</span>

    <span>
      <strong>Objetivo da proposta: </strong>
      {{objective}}
    </span>

    <span>
      <strong>Descrição</strong>
      {{description}}
    </span>

    <span>Para visualizar toda a proposta, clique neste link:</span>

    <a href={{link}}>{{link}}</a>
  </body>

  <footer>
    <strong>Obrigado!</strong>
    <h3>Start Business</h3>
  </footer>
</div>