<style>
  .container { 
      width: 800px; 
      font-family: Arial, Helvetica, sans-serif;
      display: flex; 
      flex-direction: column; 
    }

    body {
      display: flex;
      flex-direction: column;
      font-family: Arial, Helvetica, sans-serif;
    }

    span {
      display: flex;
      flex-direction: column;
      margin-top: 12px;
    }

    footer {
      margin-top: 16px;
    }
</style>

<div class="container">
  <h1 class="title">Oi, {{name}}</h1>

  <body class="content">
    {{ status }} <br />
    
      <span>O usuário {{user}} recusou a sua proposta.</span><br/>
      <span>Infelizmente, não será possível prosseguir com a negociação.</span><br/>
      <span>Se você quiser ainda tenta negociar com o usuário poderá editar o orçamento ou então fazer contato direto com o usuário.</span><br/>
  
      <span>
        <strong>Objetivo da proposta:</strong>
        {{ objective }}
      </span>
      <br/>
      <span>
          <strong>Descrição:</strong>
         {{ description }}
      </span>
      <br/>
      <span>
        <strong>Detalhes do orçamento:</strong>
        {{ budget }}
      </span>
      <br/>
      <span>
        <strong>Informações sobre valores:</strong>
         R$ {{amount}}
        </span>
        <br/>
    <span>Para mais informações acesse esse link:</span>

    <a href={{link}}>{{link}}</a>
  </body>
  <br/>
  <footer>
    <strong>Obrigado!</strong>
    <h3>Start Business</h3>
  </footer>
</div>